export POSTGRES_URI=postgres://postgres:postgres@127.0.0.1:5433/spacesprotocol_marketplace?sslmode=disable
export REST_PORT=8123
export GOOSE_DBSTRING=$POSTGRES_URI
export GOOSE_MIGRATION_DIR=sql/schema
export GOOSE_DRIVER=postgres
export SPACES_NODE_URI=http://127.0.0.1:7218 #regtest
# export SPACES_NODE_URI=http://127.0.0.1:7224 #testnet4
export UPDATE_DB_INTERVAL=5
export RPC_USER=test
export RPC_PASSWORD=test
